{
    "env": {
        "browser": true
    },
    "extends": ["airbnb", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2022,
        "sourceType": "module"
    },
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error", {
            "endOfLine": "auto"
        }],
        "arrow-body-style": 0,
        "no-use-before-define": [
            "error",
            {
                "functions": false,
                "classes": false,
                "variables": false
            }
        ],
        "no-console": ["error", { "allow": ["warn", "error"] }],
        "no-restricted-globals": ["error", "event", "fdescribe"],
        "no-underscore-dangle": 0,
        "no-useless-catch": 0
    },
    "ignorePatterns": ["node_modules", "dist"],
    "overrides": [
        {
            "files": ["vite.config.js"],
            "rules": {
                "import/no-extraneous-dependencies": 0
            }
        }
    ]
}
